{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no,email=no" name="format-detection">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
  <title>孝哈哈</title>
  <script type="text/javascript">
  var path="/wechat";
  // {% static '' %}
  </script>
</head>
<body>
  <!-- 头部 start -->
  <header class="index-header">
    <div class="location-curr">深圳市</div>
    <div class="title"><h1><img src="{% static 'images/logo-lxk-02.png' %}" alt="孝哈哈"/></h1></div>
    <a href="tel:10086"><div class="head-phone"></div></a>
  </header>
   <input type="hidden" id="city" value="101001001" />
   <input type="hidden" value="/wechat" id="ctx" />
  <!-- 头部 end -->
  <div class="ui-container">
   	<!-- banner start -->
	     <div class="focus">
	         <div class="swiper-wrapper">
	            <div class="swiper-slide"><a href='javascript:void(0)' ><img src="{% static 'images/p5.750x272.jpg' %}" alt=""></a></div>
              <div class="swiper-slide"><a href='javascript:void(0)' ><img src="{% static 'images/p6.750x272.jpg' %}" alt=""></a></div>
              <div class="swiper-slide"><a href='javascript:void(0)' ><img src="{% static 'images/p7.750x272.jpg' %}" alt=""></a></div>
              <div class="swiper-slide"><a href='javascript:void(0)' ><img src="{% static 'images/p8.750x272.jpg' %}" alt=""></a></div>
	        </div>
	        <div class="swiper-pagination"></div> 
	      </div> 
	      <!-- banner end -->
      <!-- 首页导航入口 start -->
       <nav class="nav-wrap">
         <a href='javascript:void(0)'><i class="icon-nav-member" style='background: url("{% static "images/87e870ae25614d798306342e55287b46.png" %}") center/0.853333rem no-repeat;'></i><div class="nav-text">成为会员</div></a>
         <a href='javascript:void(0)'><i class="icon-nav-member" style='background: url("{% static "images/d5a05f71b5bd4c19acb9603d81e684a5.png" %}") center/0.853333rem no-repeat;'></i><div class="nav-text">优惠充值</div></a>
         <a href='javascript:void(0)'><i class="icon-nav-member" style='background: url("{% static "images/c61299d3be754e748e70fcbad046b077.png" %}") center/0.853333rem no-repeat;'></i><div class="nav-text">礼品卡</div></a>
         <a href='javascript:void(0)'><i class="icon-nav-member" style='background: url("{% static "images/eeec0107351041d18ea256e4b8f56c54.png" %}") center/0.853333rem no-repeat;'></i><div class="nav-text">帮TA尽孝心</div></a>
      </nav>
      <!-- 首页导航入口 end -->
      <!-- 孝哈哈头条 start -->
      <div id="headlines">
         <div class="headline-text">
          <ul>
          <li><a href='javascript:void(0)'>家庭服务教父资助10名贫困大学生 勉励建设首都回报山西</a></li>
          <li><a href='javascript:void(0)'>从习近平总书记“从家出发” 看家庭服务服务业的新方位新坐标</a></li>
          <li><a href='javascript:void(0)'>孝哈哈服务产品受吉林大学商界精英关注 蒋大为献歌祝福</a></li>
          <li><a href='javascript:void(0)'>2016中国经济人物年会 孝哈哈创始人傅彦生获大奖</a></li>
          <li><a href='javascript:void(0)'>拿红包有福利欢喜过节挣大钱 孝哈哈春节无“保姆荒”</a></li>
          <li><a href='javascript:void(0)'>孝哈哈多次赞助体育赛事 品质服务获好评</a></li>
          <li><a href='javascript:void(0)'>树立家庭服务行业口碑 孝哈哈月嫂获点赞</a></li>
          <li><a href='javascript:void(0)'>体育冠军与家庭服务冠军携手助力羽球赛</a></li>
          <li><a href='javascript:void(0)'>家场景下的深入垂直—孝哈哈董事长傅彦生 </a></li>
          <li><a href='javascript:void(0)'>一个来自“全国巾帼标兵”的故事</a></li>
          <li><a href='javascript:void(0)'>傅彦生致90后大学毕业生的一封信</a></li>
          <li><a href='javascript:void(0)'>孝哈哈傅彦生：2亿融资用来干吗？并购！</a></li>
          <li><a href='javascript:void(0)'>羽球奥运冠军赵芸蕾邂逅孝哈哈</a></li>
          <li><a href='javascript:void(0)'>孝哈哈推会员制，一卡玩转家庭服务O2O</a></li>
          <li><a href='javascript:void(0)'>悦动莲花，炫彩人生老年趣味运动会</a></li>
          <li><a href='javascript:void(0)'>为篮球喝彩 ——孝哈哈篮球友谊比赛</a></li>
          <li><a href='javascript:void(0)'>孝哈哈“我是超级大管家”特训精英会召开！</a></li>
          <li><a href='javascript:void(0)'>孝哈哈小时工专场答谢会在京隆重举办</a></li>
          <li><a href='javascript:void(0)'>傅彦生出席第七期全国巾帼家庭服务经理人培训班</a></li>
          <li><a href='javascript:void(0)'>孝哈哈和中国电信足球场PK，冠军你来定</a></li>
          <li><a href='javascript:void(0)'>孝哈哈推出免费家庭服务服务综合保险</a></li>
          <li><a href='javascript:void(0)'>生活服务，别谈轻重，谈平衡</a></li>
          <li><a href='javascript:void(0)'>孝哈哈呼吁“特供”食品解决食物焦虑症</a></li>
          <li><a href='javascript:void(0)'>孝哈哈，让天下家庭后顾无忧</a></li>
          <li><a href='javascript:void(0)'>月嫂七宗罪屡教不改 某家庭服务月嫂竟一条不犯</a></li>
          <li><a href='javascript:void(0)'>孝哈哈助力中国长城马拉松</a></li>
          <li><a href='javascript:void(0)'>傅彦生出席互联网+时代线上线下新玩法峰会</a></li>
          <li><a href='javascript:void(0)'>“孝哈哈”傅彦生应邀出席优米课堂分享会 </a></li>
          <li><a href='javascript:void(0)'>傅彦生：服务业是未来中国经济的发动机</a></li>
          <li><a href='javascript:void(0)'>中国家庭服务服务雇佣关系调查分析</a></li>
          <li><a href='javascript:void(0)'>“孝哈哈”倾力打造有机食品全产业链</a></li>
          <li><a href='javascript:void(0)'>孝哈哈有机奶助会员品质化生活</a></li>
          <li><a href='javascript:void(0)'>辉煌过后是温暖 孝哈哈行动关爱退役运动员</a></li>
          <li><a href='javascript:void(0)'>一线城市近8成阿姨心理亚健康</a></li>
          <li><a href='javascript:void(0)'>孝哈哈第二期中级育婴师百人鉴定考试</a></li>
          <li><a href='javascript:void(0)'>2016中国家庭服务O2O排行榜 孝哈哈居首</a></li>
          <li><a href='javascript:void(0)'>孝哈哈完成C+轮融资</a></li>
          <li><a href='javascript:void(0)'>孝哈哈＆阿姨帮合作新闻发布会圆满成功！</a></li>
          <li><a href='javascript:void(0)'>孝哈哈绿植鲜花送到家</a></li>
          <li><a href='javascript:void(0)'>陈建斌代言孝哈哈 打造家庭服务互联网领先品牌</a></li>
          <li><a href='javascript:void(0)'>孝哈哈3天连获2次大奖 家庭服务业界震动</a></li>
          <li><a href='javascript:void(0)'>建军节 孝哈哈慰问国旗护卫队官兵</a></li>
          <li><a href='javascript:void(0)'>老龄化中国急需陪护 孝哈哈破解养老危机</a></li>
          <li><a href='javascript:void(0)'>世界级富豪邀孝哈哈创始人共进早餐</a></li>
          <li><a href='javascript:void(0)'>孝哈哈获跨界颁奖,小家庭服务如何做成大产业</a></li>
          <li><a href='javascript:void(0)'>人社部副部长杨志明率考察团莅临孝哈哈</a></li>
          <li><a href='javascript:void(0)'>孝哈哈“新鲜产品”一枝独秀</a></li>
          <li><a href='javascript:void(0)'>养老护理员职业鉴定考点落户孝哈哈 </a></li>
          <li><a href='javascript:void(0)'>孝哈哈：首届孝哈哈月嫂见面会启幕</a></li>
          <li><a href='javascript:void(0)'>人民大会堂美女服务员现身保姆市场</a></li>
          <li><a href='javascript:void(0)'>孝哈哈傅彦生获中国生活服务业年度人物</a></li>
          <li><a href='javascript:void(0)'>2016北京品牌孝哈哈新品成行业独秀</a></li>
          <li><a href='javascript:void(0)'>这个古惑仔带着17万中国大妈年赚50亿</a></li>
          </ul>
        </div> 
      </div>
      <!-- 孝哈哈头条 end -->
      <!--每周一约 start-->
	    <!-- div class="every-week bgwhite mb18">
	        <div class="person-news-header pt30">
	            <div class="person-step-line mb32">
	                <p class="person-news-name gray">每周一约</p>
	            </div>
	        </div>
	        <div class="week-img">
	        	<a href='javascript:goProduct({"jumpType":1,"des":"","name":"productdetail","needLogin":0,"params":{"skuCode":"101001001129149471770741"},"url":""})'><img src="{% static 'images/3c68a33fe48d4b9bbbba5c85f20fb51b.jpg' %}"  alt=""/></a>
	        </div> 
	    </div -->
      <!--每周一约 end-->
      <!-- 产品推荐 statr -->
     <!-- div class="sales-wrap">
        <div class="sales">
          <div class="swiper-wrapper">
          	<div class="items swiper-slide"><a href='javascript:goProduct({"jumpType":1,"des":"","name":"productdetail","needLogin":0,"params":{"skuCode":"101001001565721214573461"},"url":""})'><img src="{% static 'images/9d6ad99e7fde48c4bb021bb2f6bb0ac9.jpg' %}" alt="原价:￥899"><div class="title">孝哈哈...</div><p class="old-price">原价:￥899</p><p class="price">&yen;<span>199</span>/提</p></a></div>
          	<div class="items swiper-slide"><a href='javascript:goProduct({"jumpType":1,"des":"","name":"productdetail","needLogin":0,"params":{"skuCode":"101001001417178592905396"},"url":""})'><img src="{% static 'images/bd1fc255b26c4d939643e9f4f1260a94.jpg' %}" alt="原价:￥960"><div class="title">孝哈哈...</div><p class="old-price">原价:￥960</p><p class="price">&yen;<span>180</span>/瓶</p></a></div>
          	<div class="items swiper-slide"><a href='javascript:goProduct({"jumpType":1,"des":"","name":"productdetail","needLogin":0,"params":{"skuCode":"101001001434669082753460"},"url":""})'><img src="{% static 'images/7946d338e3b040d3ad0ee6427620cc04.jpg' %}" alt="原价:￥189"><div class="title">有机纯...</div><p class="old-price">原价:￥189</p><p class="price">&yen;<span>100</span>/箱</p></a></div>
          </div>
        </div> 
      </div -->
      <!-- 产品推荐 end -->
	       <div class="spread-line"></div>
	      <!-- 管家推荐 定制 start -->
	      <div id="solution">
			       <div class="left smart-housekeeper">
				       <a href="###">
					       <h4> 开通家庭网络 </h4>
					       <p>连接世界</p>
					       <img src="{% static 'images/homenetwork.png' %}" alt="">
				       </a>
			       </div>
		       <div class="right">
			        <div class="r-top rec-housekeeper">
				        <a href="javascript:void(0)">
					        <h4> 新电脑 </h4>
					        <p>精彩启程</p>
					        <img src="{% static 'images/newmacpro.jpg' %}" alt="">
				        </a>
			        </div>
			        <div class="r-bottom custom-housekeeper">
				        <a href="javascript:void(0)">
					        <h4> 新手机 </h4>
					        <p>进入移动时代</p>
					        <img src="{% static 'images/newiphone.jpg' %}" alt="">
				        </a>
			        </div>
		       </div> 
	      </div>
	      <!-- 管家推荐 定制 end -->
	      <div class="spread-line"></div>
	      <!-- 家庭IT服务 start -->
	      <div class="floor">
	      		<div class="floor-title"><img src="{% static 'images/homeiot-orange.png' %}" alt=""><h2> 家庭IT服务 </h2>
	      		<a href='/wechat/info' class="more">查看全部</a>
	      		</div>
	       	 <div class="col-2">
	        	<div class="col-2-items"><a href='/wechat/info'><h4> 用电脑 </h4><p>电脑疑难杂症</p><img src="{% static 'images/repair_laptop.png' %}" alt=""></a></div>
	        	<div class="col-2-items"><a href='/wechat/info'><h4> 用网络 </h4><p>家庭网络配置</p><img src="{% static 'images/repairenetwork.png' %}" alt=""></a></div>
	        	<div class="col-2-items"><a href='/wechat/info'><h4> 用手机 </h4><p> 设账号装应用 </p><img src="{% static 'images/repairephone.jpg' %}" alt=""></a></div>
	        	<div class="col-2-items"><a href='/wechat/info'><h4> 用平板 </h4><p>看电影看新闻</p><img src="{% static 'images/repairipad.jpg' %}" alt=""></a></div>
	        	<div class="col-2-items"><a href='/wechat/info'><h4> 智能家电 </h4><p>迅速掌握</p><img src="{% static 'images/sweepingrobot.jpg' %}" alt=""></a></div>
	        	<div class="col-2-items"><a href='/wechat/info'><h4> 广场舞神器 </h4><p>帮你找到神旋律</p><img src="{% static 'images/outdoorequip.jpg' %}" alt=""></a></div>
	        </div> 
	      </div>
	      <!-- 家庭服务服务 end -->
        <div class="spread-line"></div>
      <!-- 营养 start -->
      <div class="floor">
	      		<div class="floor-title"><img src="{% static 'images/moreservices.jpg' %}" alt=""><h2> 更多家庭孝心服务，敬请期待！ </h2>
      </div>
      <!-- 营养 end -->
        <div class="spread-line"></div>
      
	<div class="spread-line"></div>
  </div>
  	<footer class="ui-footer">
 	   <a href="javascript:index();" class="index-btn active" id="foot_index"><i class="icon-footer-index active"></i><div class="ui-footer-text">首页</div></a>
     <a href="/wechat/info" class="index-btn"  id="foot_class"><i class="icon-footer-class"></i><div class="ui-footer-text">分类</div></a>
     <a href="/wechat/plan" class="index-btn" id="foot_cart"><i class="icon-footer-cards ui-badge-wrap"><div class="ui-badge" style="display: none;"></div></i><div class="ui-footer-text">孝心计划</div></a>
     <a href="/wechat/my" class="index-btn" id="foot_myinfo"><i class="icon-footer-my"></i><div class="ui-footer-text">我的</div></a>
   </footer>
  <script src="{% static 'js/common/jquery.min.js' %}" ></script>
  <script src="{% static 'js/common/flexible.js' %}"></script>
  <script src="{% static 'js/common/swiper.min.js' %}"></script>
  <script src="{% static 'js/common/touchslide.js' %}"></script>
  <script src="{% static 'js/common/func.js' %}"></script>
  <script src="{% static 'js/common/dialog.js' %}" ></script>
  <script src="{% static 'js/common/common.js' %}" ></script>
  <script src="{% static 'js/common/category.js' %}" ></script>
  <script src="{% static 'js/index/index.js' %}" ></script>
  <script type="text/javascript">
	$(function(){
		var selectNum = 0;
		console.info(selectNum)
		if(selectNum>0){//脚部购物车导航数量
			$(".ui-badge").show();
			$(".ui-badge").html("").html(selectNum);
		}else{
			$(".ui-badge").hide();
		}
		
		 comm.getActive("foot_index");
		
	})

	function index(){
		var dataTime= new Date().format("yyyyMMddhhmmss");
		window.location.href="/wechat/index?index_"+dataTime;
	}
</script>
  
</body>
</html>
