


<html>
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no,email=no" name="format-detection">
<link rel="stylesheet" href="/wechat/css/style.css">
<title>手机登录</title>
</head>
<body>
<input type="hidden" id="ctx" value="/wechat">
	<!-- 头部 start -->
	<header class="header">
		<div class="head-return" onclick="history.go(-1)"></div>
		<div class="title">
			<h1>手机登录</h1>
		</div>
	</header>
	<!-- 头部 end -->
	<div class="ui-order-container">
		<div class="wallet-pay-list position-r">
			<input type="hidden" value="/wechat/proOrder/init?categoryCode=100200020002" id="returnUrl" />

			<div class="ico">
				<img src="/wechat/images/icon-login-phone.png" alt="">
			</div>
			<div class="pay-list-content">
				<div class="list-content-add ui-border-b">
					<div class="title">
						<input type="text" value="" id="mobile" placeholder="手机号">
					</div>
					<div class="ui-btn ui-btn-orange" onclick="sendVerifcode(this,120,'重新发送',2)" id="open">获取验证码</div>
				</div>
			</div>
		</div>
		<div class="wallet-pay-list position-r">
			<div class="ico">
				<img src="/wechat/images/icon-login-password.png" alt="">
			</div>
			<div class="pay-list-content">
				<div class="list-content-add">
					<div class="title">
						<input type="text" placeholder="验证码" id="verifcode">&nbsp;&nbsp;
						<span id="checkCode"></span>
					</div>
					<div class="arrow green"></div>
				</div>
			</div>
		</div>
		<div class="my-btn-wrap">
		<div class="reg-agreement"><label class="ui-checkbox"><input type="checkbox" checked="checked" id="checked"></label>我已同意<a href="/wechat/html/6.html">《管家帮用户注册协议》</a></div>
			<input class="btn ui-btnfull-shallow-orange ui-btnfull-big mb32"
				type="button" value="登录" id="login-btn">
			<p class="btn-description orange mt40">
				<span id="userNameLogin">用户名登录</span>
			</p>
			<div class="login-header pt18">
				<div class="login-step-line mb32">
					<p class="login-name gray">温馨提示</p>
				</div>
				<p class="login-description">请检查手机号是否正确，如果正确但长时间没有收到验证码短信，可能是因为运营商不太给力，请拨打客服电话获取验证码。</p>
			</div>
		</div>
	</div>
	<script type="" src="/wechat/js/common/flexible.js"></script>
	<script src="/wechat/js/common/jquery.min.js"></script>
	<script src="/wechat/js/common/swiper.min.js"></script>
	<script src="/wechat/js/common/touchslide.js"></script>
	<script src="/wechat/js/common/func.js"></script>
	<script src="/wechat/js/common/common.js"></script>
	<script type="text/javascript" src="/wechat/js/common/dialog.js"></script>
	<script type="text/javascript">
		var ctx = $("#ctx").val();

		//登录验证
		function UserLogin() {
			var mobile = $("#mobile").val();
			var verifcode = $("#verifcode").val();
			var returnUrl = $("#returnUrl").val();
			var re = /^1[3|4|5|7|8]\d{9}$/;
			if (mobile.trim().length == 0) {
				comm.prompt.infoSmall("手机号不能为空", 2000);
				return false;
			} else {
				if (!re.test(mobile)) {
					comm.prompt.infoSmall("手机号码格式错误", 2000);
					return false;
				} 
			}
			if (verifcode.trim().length == 0) {
				comm.prompt.infoSmall("请输入验证码", 2000);
				return false;
			} 
			 if(!checkCode(2)){
				comm.prompt.infoSmall("验证码错误", 2000);
				return false;
			} 
			if(!checkselect()){
				comm.prompt.infoSmall("请勾选协议", 2000);
				return false;
			}
			$.ajax({
				type : "POST",
				url : "/wechat/user/UserLoginBymobile",
				data : {
					"mobile" : mobile,
					"verifcode" : verifcode,
					"returnUrl" : returnUrl
				},
				dataType : "json",
				success : function(data) {
					$('#login-btn').on('click', function(){
						UserLogin();
					});
					var obj = eval("(" + data.userLoginBymobile + ")");
					if (obj.code == "0") {
						comm.setCookie('__', obj.data.oauthCode, 10000, '/wechat');
						console.info(decodeURIComponent(data.returnUrl));
						comm.prompt.info("登录成功", 2000, 1, comm.redirectUrl, decodeURIComponent(data.returnUrl));
					}  else if (obj.code == '-2') {
						comm.prompt.infoSmall('请求出错',2000);
					} else {
						comm.prompt.infoSmall(obj.msg, 2000);
						return false;
					}
				}
			});

			$('#login-btn').off('click');
		}

		$('#login-btn').on('click', function(){
			UserLogin();
		});

		//找回密码
		$("#foundLoginPassWord").on("click", function() {
			location.href = "/wechat/user/toMobileVerification5";
		});
			//用户名登陆
			$("#userNameLogin").on("click", function() {
				location.replace("/wechat/user/toLogin?returnUrl="+encodeURIComponent($("#returnUrl").val()));
			});
		function  checkselect(){
			if(! $('#checked').is(':checked')) {
				comm.prompt.infoSmall("请勾选协议", 2000);
				return false;
			}else{
				return true;
			}
		}

		$(function(){
			$.post(ctx + '/user/judgeHasLogin', {}, function(data){
				if (data == 'true') {
					window.location.reload();
				}
			}, 'text');
		});
	</script>
</body>
</html>